*{
    font-family: sans-serif;
}

body{
    margin: 5px auto;
    width: 88%;
    text-align: center;
}

hr{
    width: 88%;
}

#table{
    margin: auto;
    padding: 5px;
    border-collapse:collapse;
    display: block;
    width: 68%;
}

.row{
    clear: both;
    overflow: hidden;
    background-color: lightgrey;
    display: inherit;
}

.row:nth-child(even) {
    background-color: transparent;
}
.col {
    border: none;
    display: inherit;
    float: left;
    overflow: hidden;
    height: 120px;
    padding: 5px;
    text-align: left;
    vertical-align: top;
}


.image{
    text-align: right;
    width: 200px;
}

.image img{
    height: 120px;
    width: 200px;
}

.model{
    padding-top: 5px;
    width: 44%;
    font-size: large;
}

.model .info{
    font-size: medium;
    margin-top: 3em;
}

.price{
    text-align: right;
    width: 25%;
}

.price span{
    display: block;
}

.price .totalPrice{
    padding-top: 1em;
    font-weight: bold;
}

.price .offer{
    font-size: small;
    color: darkmagenta;
}

.vertical-line{
    border-left: thin solid black;
    display: inline-block;
    padding-left: 5px;
}

#header{
    text-align: center;
}

#header h1{
    color: red;
    margin-bottom: 0;
}

#company-intro{
    margin: 5px auto;
    text-align: justify;
    width: 68%;
}

#contact{
    margin: 5px auto;
    text-align: left;
    width: 68%;
}

#contact form{
    margin: 0 28px;
}

#contact div{
    margin: 5px auto;
}

#footer{
    text-align: center;
    font-size: x-small;
}